<div class="bg-gray-100 min-h-screen p-4 ">
  <h1 class="text-3xl mb-4 font-bold">Boards</h1>

  <div class="flex-shrink-0 w-64" data-controller="board-form">
    <button
      type="button"
      data-action="click->board-form#showForm"
      class="
        text-gray-500 bg-gray-200 hover:bg-gray-300 font-bold flex items-center
        border-2 rounded p-2 justify-center cursor-pointer
      "
    >
      Create a board
    </button>

    <div data-board-form-target="form" class="hidden mt-2">
      <%= form_with model: Board.new, url: boards_path, local: true do |f| %>
        <%= f.text_field :name,
                     placeholder: "Board name...",
                     required: true,
                     class: "w-full p-2 border rounded" %>
        <div class="mt-1 flex gap-1">
          <%= f.submit "Add", class: "btn" %>
          <button
            type="button"
            data-action="click->board-form#hideForm"
            class="btn x-3 py-1 bg-gray-200 text-gray-700 text-sm rounded hover:bg-gray-300"
          >
            Cancel
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex flex-shrink-0 p-4 space-y-4 flex-col">
    <% @boards.each do |board| %>
      <a
        href="<%= board_path(board) %>"
        class="
          block w-64 text-center uppercase px-4 py-10 bg-white rounded shadow border
          border-gray-200 hover:bg-gray-50 no-underline
        "
      >
        <h3 class="font-bold text-lg text-gray-800"><%= board.name %></h3>
      </a>
    <% end %>
  </div>
</div>
